* {
    margin: 0;
    padding: 0;
    font-family: 'Volkhov', serif;
}

h1 {
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
    font-style: italic;
    background: linear-gradient(to bottom, transparent, #9E8279);
}

.flex-container1 {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item1 {
    margin: 10px;
    width: 400px;
    height: 190px;
    min-width: 200px;
    padding: 30px;
    background: linear-gradient(to bottom, pink, #9C6D5D);
    line-height: 30px;
    border: 2px groove rgb(214, 161, 161);
    border-style: groove;
}

.flex-item2 {
    background: lightblue;
    margin: 10px;
    width: 300px;
    height: 250px;
    min-width: 200px;
    border: 2px groove rgb(214, 161, 161);
}

.flex-container2 {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item3 {
    background: lightblue;
    margin: 10px;
    width: 300px;
    height: 250px;
    min-width: 200px;
    border: 2px groove rgb(214, 161, 161);
}

.flex-item4 {
    margin: 10px;
    width: 400px;
    height: 190px;
    min-width: 200px;
    padding: 30px;
    background: linear-gradient(to bottom, pink, #9C6D5D);
    line-height: 30px;
    border: 2px groove rgb(214, 161, 161);
    border-style: groove;
}

img {
    width: 300px;
    height: 250px;
}

.flex-container1:hover .flex-item2 {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: 1s;

}

.flex-container2:hover .flex-item3 {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: 1s;

}
.flex-container2 {
    overflow:hidden;
}
